ENV=dev
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
AZURE_MODEL_DEPLOYMENT=
AZURE_EMBEDDING_DEPLOYMENT=
OPEN_AI_API_VER=2023-05-15
AZURE_ENDPOINT=


PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_HOST_NAME=

AWS_BEDROCK_ACCESS_KEY=
AWS_BEDROCK_SECRET_ACCESS_KEY=
AWS_BEDROCK_PROFILE_NAME=